logging:
  config: 'classpath:log4j2.yml'

spring:
  application:
    name: marketplace-feed-api

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}

  sql:
    init:
      mode: never

  jpa:
    hibernate:
      ddl-auto: validate

  datasource:
    driver-class: org.postgresql.Driver

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    csrf:
      enabled: true

server:
  port: 33303
